.AppContainer{
background-color: lightgray;
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
}
.ToDoContainer{
  background-color: aquamarine;

}
.FootContainer{
  background-color: rgb(127, 255, 159);
  
}
.WeatherContainer{
  background-color: rgb(236, 255, 127);
  
}