.AppContainer {
  background-color: lightslategray;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.WeatherContainer {
  background-color: lightslategray;
  height: 10%;
  width: 100%;
}
.ToDoContainer {
  background-color: lightslategray;
  height: 85%;
  width: 100%;
}
.FootContainer {
  background-color: lightslategray;
  height: 15%;
  width: 100%;
}
