.weatherContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.weatherStatusContainer{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}